---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card/index.astro";
import IntroCard from "../components/IntroCard.astro";
import ContactsCard from "../components/ContactsCard.astro";
import Stats from "../components/Stats.astro";
import TimeZone from "../components/TimeZoneCard.astro";
import AboutMe from "../components/AboutMe.astro";
import Now from "../components/Now.astro";
import ThemeSlider from "../components/ThemeSlider.astro";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Mario Parreño - Machine Learning Engineer"
  description="I'm a Machine Learning engineer specializing in Computer Vision and Generative AI, automating problems that save companies time and money. Currently, I'm focused on tackling real-world problems with Deep Learning."
>
  <main
    class="m-auto p-2 grid gap-2 max-w-6xl overflow-hidden relative w-full sm:p-4 sm:gap-2 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <IntroCard />
    <AboutMe />
    <ContactsCard />
    <Stats />
    <Now />
    <Card
      colSpan="md:col-span-1"
      rowSpan="md:row-span-1"
      title="Personal Projects"
      href="/projects"
    >
    </Card>
    
    <!--<CV />-->
    <Card
      colSpan="md:col-span-1" rowSpan="md:row-span-2"
      title="CV"
      document="/mario_resume.pdf"
      body="Do you still want my resume? Click anywhere in this box to download it. Do not hesitate to contact me if you have any questions."
    >
    </Card>
    
    <TimeZone />
    
  </main>
</Layout>


