---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<script>
  import { stagger, spring, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "../lib/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["40%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.4,
        delay: stagger(0.3),
        easing: spring({ velocity: 100, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<Layout
  title="Mario Parreño - Projects"
  description="I'm a Machine Learning engineer specializing in Computer Vision and Generative AI, automating problems that save companies time and money. Currently, I'm focused on tackling real-world problems with Deep Learning."
>
  <main
    class="z-10 w-screen h-full flex flex-col justify-start items-start max-w-3xl mx-auto p-8"
  >
    <a
      href="/"
      class="w-auto flex text-white bg-neutral-900 hover:bg-neutral-800 px-4 py-2 mb-8 border-1 border-solid border-neutral-600 rounded-lg"
      >
      <Icon size={22} name="mdi:arrow-back" class="h-6 mr-1" />
      Back To Home
      </a
    >
    <h1 class="text-4xl font-bold mb-4">Personal Projects</h1>
    <div class="flex flex-col gap-4 w-full space-y-2">
      <div
        class="card group overflow-hidden transfor-y-[-40%] bg-darkslate-500 shadow-lg rounded-lg border border-darkslate-100 hover:border-primary-500 align-start flex-none h-auto justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 md:col-span-2 p-6"
      >
        <a href="DASeGAN.pdf" target="_blank" rel="noopener noreferrer" class="h-full w-full">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="h-6 float-right group-hover:text-primary-500 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100 z-20"
            data-icon="ri:arrow-right-up-line"
          >
            <symbol id="ai:ri:arrow-right-up-line"
              ><path
                fill="currentColor"
                d="m16.004 9.414l-8.607 8.607l-1.414-1.414L14.59 8H7.003V6h11v11h-2z"
              ></path></symbol
            ><use xlink:href="#ai:ri:arrow-right-up-line"></use>
          </svg>
          <div>
            <h2 class="font-semibold text-2xl">DASeGAN</h2>
            <p class="text-darkslate-300">
              Framework for domain adaptation and generalization using GANs to map images into a universal domain for segmentation tasks, unifying appearance across domains through adversarial training.
            </p>
          </div>
        </a>
      </div>
      <div
        class="card group overflow-hidden transfor-y-[-40%] bg-darkslate-500 shadow-lg rounded-lg border border-darkslate-100 hover:border-primary-500 align-start flex-none h-auto justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 md:col-span-2 p-6"
      >
        <a href="https://dobble.maparla.es/" target="_blank" rel="noopener noreferrer" class="h-full w-full">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="h-6 float-right group-hover:text-primary-500 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100 z-20"
            data-icon="ri:arrow-right-up-line"
          >
            <use xlink:href="#ai:ri:arrow-right-up-line"></use>
          </svg>
          <div>
            <h2 class="font-semibold text-2xl">
              Dobble
            </h2>
            <p class="text-darkslate-300">
              Through web scrapping techniques, it is possible to collect images of the works in the Prado museum. We have hundreds of algorithms to detect faces. We can obtain embeddings that encode our faces using Siamese neural networks. We just need to get the closest embedding!
            </p>
          </div>
        </a>
      </div>
      <div
        class="card group overflow-hidden transfor-y-[-40%] bg-darkslate-500 shadow-lg rounded-lg border border-darkslate-100 hover:border-primary-500 align-start flex-none h-auto justify-start relative transform perspective-1200 w-full transition duration-75 ease-in-out col-span-1 md:col-span-2 p-6"
      >
        <a href="https://agro.maparla.es/" target="_blank" rel="noopener noreferrer" class="h-full w-full">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 24 24"
            class="h-6 float-right group-hover:text-primary-500 group-hover:translate-x-1 group-hover:-translate-y-1 transition-transform ease-in-out duration-100 z-20"
            data-icon="ri:arrow-right-up-line"
          >
            <use xlink:href="#ai:ri:arrow-right-up-line"></use>
          </svg>
          <div>
            <h2 class="font-semibold text-2xl">Agro Analysis</h2>
            <p class="text-darkslate-300">
              Analysis of the behavior of the Spanish fruit and vegetable market during the pandemic period with data from different sources. National competition obtaining the third place.
            </p>
          </div>
        </a>
      </div>
    </div>
  </main>
</Layout>
