---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I'm Mario, a Machine Learning Engineer from Spain.
      My primary tools of choice includes:
      <ul class="list-disc list-inside">
        <li>Pytorch</li>
        <li>Hugging Face</li>
        <li>Weights & Biases</li>
        <li>FastAPI</li>
        <li>Docker</li>
        <li>GitHub</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      I have done <b>Computer Vision</b> problems (classification, segmentation and detection), <b>NLP</b> (classification, OCR, Embeddings), <b>Generative AI</b> (entity extraction, chatbots, RAG). The main sectors I have worked in are Banking, Software and Construction.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I always choose the best one for the
      task, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
